---
layout: handbook-page-toc
title: "Support Career Framework: Senior Support Engineer"
---

## On this page
{:.no_toc .hidden-md .hidden-lg}

- TOC
{:toc .hidden-md .hidden-lg}

## Senior Support Engineer
 
<%= partial("handbook/engineering/career-development/matrix/engineering/support/support_career_matrix_nav.erb") %>

**Senior Support Engineers at GitLab are expected to exhibit the following competencies:**

* Leadership Competencies 
* Technical Competencies 
* Values Alignment 

---

### Leadership Competencies

<%= partial("handbook/engineering/career-development/matrix/engineering/engineering_senior_leadership_competency.erb") %>
  
 <%= partial("handbook/engineering/career-development/matrix/engineering/support/senior/support_senior_leadership_competency.erb") %>

### Technical Competencies

<%= partial("handbook/engineering/career-development/matrix/engineering/engineering_senior_technical_competency.erb") %>

 <%= partial("handbook/engineering/career-development/matrix/engineering/support/senior/support_senior_technical_competency.erb") %>

###  Values Alignment

<%= partial("handbook/engineering/career-development/matrix/engineering/values_competency.erb") %>

<%= partial("handbook/engineering/career-development/matrix/engineering/support/support_career_matrix_nav.erb") %>
