.section-purple
  .container
    %h1.page-headline Frequently Asked Questions

    .row.flex-row
      .col-sm-6.col-sm-push-6.col-md-5.col-md-push-5
        %h3 What’s in it for me?
        .description
          Besides being instrumental in shaping the future of GitLab, you’ll have the opportunity to earn gift cards and win awesome tech prizes. Before each research study, you will receive an email invitation which includes what is being offered before you sign up to participate.
      .col-sm-6.col-sm-pull-6.col-md-5.col-md-pull-5.image-column
        = image_tag "/images/researchpanel/01-gift-card.png", alt: "gift card", class: "building-img"

    .row.flex-row
      .col-sm-6.col-sm-push-6.col-md-5.col-md-push-5
        %h3 What type of research do you do?
        .description
          Our research varies between surveys, usability testing and user interviews. All research takes place remotely from the comfort of your own computer.
      .col-sm-6.col-sm-pull-6.col-md-5.col-md-pull-5.image-column
        = image_tag "/images/researchpanel/02-type.png", alt: "survey", class: "building-img"

    .row.flex-row
      .col-sm-6.col-sm-push-6.col-md-5.col-md-push-5
        %h3 Do I need to be willing to do all types of research?
        .description
          No, each email invitation will specify the type of research before you sign up. You can choose the research studies that are most suited to you.
      .col-sm-6.col-sm-pull-6.col-md-5.col-md-pull-5.image-column
        = image_tag "/images/researchpanel/03-all-types-of-research.png", alt: "research types", class: "building-img"

    .row.flex-row
      .col-sm-6.col-sm-push-6.col-md-5.col-md-push-5
        %h3 Do I need to be a GitLab user to sign up?
        .description
          No, we often conduct research with people who don’t currently use GitLab.
      .col-sm-6.col-sm-pull-6.col-md-5.col-md-pull-5.image-column
        = image_tag "/images/researchpanel/04-gitlab-user.png", alt: "user participant", class: "building-img"

    .row.flex-row
      .col-sm-6.col-sm-push-6.col-md-5.col-md-push-5
        %h3 Do I have to be over 18 to participate?
        .description
          Yes, you will need to be 18 or over to participate.
      .col-sm-6.col-sm-pull-6.col-md-5.col-md-pull-5.image-column
        = image_tag "/images/researchpanel/05-over-eighteen.png", alt: "participant age", class: "building-img"

    .row.flex-row
      .col-sm-6.col-sm-push-6.col-md-5.col-md-push-5
        %h3 Do I have to live in a certain country to participate?
        .description
          No, we conduct research with users around the world. We ask that you speak in English for any usability testing or user interviews you take part in.
      .col-sm-6.col-sm-pull-6.col-md-5.col-md-pull-5.image-column
        = image_tag "/images/researchpanel/06-country.png", alt: "participant location", class: "building-img"

    .row.flex-row
      .col-sm-6.col-sm-push-6.col-md-5.col-md-push-5
        %h3 What will you do with my personal information?
        .description
          The information you provide will only be used to pair you with suitable research studies and won't be shared or sold to external parties.
      .col-sm-6.col-sm-pull-6.col-md-5.col-md-pull-5.image-column
        = image_tag "/images/researchpanel/07-personal-information.png", alt: "participant information", class: "building-img"

    .row.flex-row
      .col-sm-6.col-sm-push-6.col-md-5.col-md-push-5
        %h3 Is there anything else I should know?
        .description
          At GitLab, we value
          #{link_to('transparency', '/handbook/values/')}.
          By making information public we can reduce the threshold to contribution and make collaboration easier. With your permission, we record all user interviews and usability testing sessions. We would also love to share the recording on GitLab.  This is completely voluntary and up to you. In any use of the recordings, no personally identifiable information will be disclosed. We'll ask for your consent before you complete any user interviews or usability testing with GitLab.
      .col-sm-6.col-sm-pull-6.col-md-5.col-md-pull-5.image-column
        = image_tag "/images/researchpanel/08-recording.png", alt: "participant recordings", class: "building-img"

    .row.flex-row
      .col-sm-6.col-sm-push-6.col-md-5.col-md-push-5
        %h3 I’ve signed up but no longer wish to be part of the research panel. How do I unsubscribe?
        .description
          You can opt-out by clicking the unsubscribe link in any of the emails you receive from us, or email
          =mail_to "sarah@gitlab.com"
          who will remove you from the panel.
      .col-sm-6.col-sm-pull-6.col-md-5.col-md-pull-5.image-column
        = image_tag "/images/researchpanel/10-unsubsrcribe.png", alt: "unsubscribe", class: "building-img"

    .row.flex-row
      .col-sm-6.col-sm-push-6.col-md-5.col-md-push-5
        %h3 I have a different question, who can I contact?
        .description
          Please email
          =mail_to "sarah@gitlab.com"
      .col-sm-6.col-sm-pull-6.col-md-5.col-md-pull-5.image-column
        = image_tag "/images/researchpanel/11-contact.png", alt: "contact", class: "building-img"
