<script>
import { formatAmount } from "./utils.js";

export default {
  props: {
    benefits: {
      type: Array,
      required: true
    },
    currency: Object,
  },
  methods: {
    formatAmount: formatAmount,
    benefitItems: function(benefit) {
      return benefit && benefit['items'] || []
    },
    benefitTotal: function(benefit) {
      return this.benefitItems(benefit).reduce(function(total, item) {
        return total + item.amount;
      }, 0);
    },
    localCurrencyBenefitTotal: function(benefit) {
      return Math.round(this.benefitTotal(benefit) / this.currency.rate)
    }
  }
};
</script>

<template>
  <section>
    <div class="col-sm-12 formula-container">
      <h4>Benefits and Remote work calculator</h4>

      <div v-for="(benefit) in benefits" :key=benefit.title>
        <h4>{{benefit.title}}</h4>
        <p>{{benefit.description}}</p>

        <div class="formula">
          <div v-for="(item, index) in benefitItems(benefit)" :key="item.title" class="variable-group" >
            <div class="variable benchmark">
              <span class="benefit-title">{{item.title}}</span>
              <input
                v-model.number="item.amount"
                class="small"
                type="number"
                min=0
              />
            </div>

            <div class="symbol multiplication" v-if="index !== benefitItems(benefit).length - 1">+</div>
            <div class="symbol multiplication" v-else>=</div>
          </div>

          <div v-if="benefitTotal(benefit) > 0" class="variable benchmark">
            <span class="benefit-title">Total</span>
            <span v-if="currency && currency.rate" class="benefit-total">{{formatAmount(localCurrencyBenefitTotal(benefit), currency.code)}}</span>
            <span v-else class="benefit-total">{{formatAmount(benefitTotal(benefit))}}</span>
          </div>
          <div v-else class="variable benchmark">Priceless</div>
        </div>
      </div>

      <p class='disclaimer'>
        As a <a href="https://gitlab.com/gitlab-com/people-group/peopleops-eng/people-operations-engineering/-/issues/116">next iteration</a> of the Benefits portion of the Calculator, we will begin adding in entity specific benefits to outline the total rewards value to team members based on their contract type.
      </p>
      <hr />
    </div>
  </section>
</template>
