.sdlc-container.position-relative
  .table-container
    .sdlc-table
      - Gitlab::Homepage::Stage.all!.select{|stage| stage.marketing}.each do |stage|
        .sdlc-column
          .stage-container
            %a{href: "/stages-devops-lifecycle/#{stage.key}/"}
              = partial "/includes/icons/sdlc-icons/#{stage.key}.svg"
            %a{href: "/stages-devops-lifecycle/#{stage.key}/"}
              %p #{stage.display_name}
          .solutions-container
            - breadth_categories = stage.categories.select { |category| category.marketing && category.maturity && category.maturity == 'minimal' }
            - breadth_categories += stage.categories.select { |category| category.marketing && category.maturity && category.maturity == 'planned' }
            - if breadth_categories.length >= 1
              .current-categories
                .stage-column
                  .category-list
                    - breadth_categories.each do |category|
                      .category
                        .category-cell
                          %a{ href: "##{category.key}"}
                            = partial "/images/maturity/#{maturity(category, Date.today)}.svg"
                        .category-cell
                          - url = category.best_link
                          %a{ href: "#{url}" } #{category.name}
