- codeowners = codeowners_for_page(current_page)
- if codeowners.any?
  .codeowners
    Maintained by
    - codeowners.each do |user_info|
      %a.codeowner{href: user_info[:url] }
        - if user_info[:image_url]
          = image_tag user_info[:image_url], alt: user_info[:description]
        - else
          = user_info[:description]
